.venv
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.ruff_cache
.pytest_cache
tests
test
tests/**
.env
.env.*
!.env.example
.git
.gitignore
.gitattributes
*.log
Dockerfile
.dockerignore
docker-compose*.yml
